
* {
    margin: 0px;
    box-sizing: border-box;
}
header {
    position: sticky;
    top: 0;
    background-color: #116da3; /* Unique background color for header */
    border-bottom: 2px solid #000; /* Bottom border for header */
    
}

main {
    width: 80%;
    margin: 0 auto; /* Center the main content */
    background-color: #27ae60; /* Unique background color for main */

}

footer {
    position: fixed;
    bottom: 0;
    width: 100%; /* Take up the entire viewport width */
    background-color: #e74c3c; /* Unique background color for footer */
 
}


p {
    padding: 1em; /* 1em padding on all sides for paragraphs */
}
